@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0px;
  padding: 0px;
  font-family: 'Tomorrow', sans-serif;
  background-image: linear-gradient(to right,#000000d8,#b4b2b2);
  height: 100vh;
  width: 100%; 
  overflow: hidden; 
  
}

.icon-container {
  @apply relative flex justify-center items-center h-[60px] p-3 leading-[50px] font-bold text-[#fff] text-center bg-transparent group-hover:delay-100 text-2xl my-1 mx-1 w-[60px]
}

.icon {
  @apply duration-500 hover:scale-125 hover:rotate-[360deg]
}

.btn1 {
  @apply rounded-full transition ease-out duration-500 mx-2 sm:px-2 md:px-3 sm:py-1 md:py-2 sm:text-[10px] md:text-[12px] uppercase cursor-pointer border text-black bg-white hover:text-white hover:bg-transparent
}

.btn2 {
  @apply rounded-full transition ease-out duration-500 mx-2 sm:px-2 md:px-3 sm:py-1 md:py-2 sm:text-[8px] md:text-[12px] bg-transparent text-white uppercase cursor-pointer border hover:bg-white hover:text-black
}


